bin/
obj/

**/*.o
**/*.d

*.out
*.err

core_inst.cc

tracer/pin/obj-intel64/
.champsimconfig_cache
DDR5_baseline.json
DDR5_baseline.txt
DDR5_baselineepoch.json
.vscode/settings.json
inc/cache_modules.inc
inc/champsim_constants.h
inc/cache_modules.inc
/.vs
